.box-ads-bottom {
  bottom: 0;
  margin: auto;
  z-index: 1021;
  position: fixed;
  text-align: center;
  img {
    border-radius: 0px;
  }
  .box-close {
    text-align: right;
    .btn-close {
      float: right;
      cursor: pointer;
      padding: 0px 13px;
      width: max-content;
      background: $color-second;
      p {
        font-size: 13px;
        color: $color-white;
        svg {
          font-size: 17px;
          position: relative;
          top: 2px;
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    display: none;
  }
}
.ads-sidebar {
  z-index: 9;
  top: 180px;
  padding: 10px;
  border-radius: 10px;
  background: $bg-ads;
  img {
    width: 100%;
  }
}

.bgAdsEvent {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.adsRight {
  z-index: 99;
  right: 3px;
  width: 13.8%;
  float: right;
  margin-top: -2px;
  top: 178px !important;
}
.adsRight img{
  width: 100%;
  border-radius: 0px;
  height: 100%;
}
.adsLeft {
  z-index: 99;
  left: 3px;
  float: left;
  margin-top: -2px;
  top: 178px !important;
}
.adsLeft img{
  width: 100%;
  border-radius: 0px;
  height: 100%;
}

@media (max-width: 900px) {
  .adsLeft, .adsRight {
    display: none;
  }
}
@media only screen and (min-width : 992px) and (max-width : 1120px) {
  .adsLeft, .adsRight {
    display: none;
  }
}