.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 2s infinite;
          animation: shimmer 2s infinite;
  content: "";
}
@-webkit-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton-horizontal {
  .skeleton-box {
    display: inline-block;
    height: 1em;
    overflow: hidden;
    position: relative;
    background-color: #ebebeb;
  }
  .o-media__figure {
    .skeleton-image {
      width:100%;
      height:140px;
      border-radius: 10px;
    }
    .skeleton-infografis {
      height: 280px;
      @media screen and (max-width: 401px) {
        height: 200px;
        margin-bottom: 9px;
      }
    }
  }
  .skeleton-content {
    width: 75%;
  }
  .skeleton-content-bottom {
    width: 95%;
  }
}

.skeleton-vertikal {
  .o-vertical-spacing {
    padding-top: 15px;
  }
  .blog-post__headline {
    font-size: 1.25em;
    font-weight: bold;
  }
  .blog-post__meta {
    font-size: 0.85em;
    color: #6b6b6b;
  }
  .o-media__body {
    flex-grow: 1;
  }
  .skeleton-box {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #ebebeb;
  }
  .o-media {
    display: flex;
  }
  .skeleton-image {
    width:170px;
    height:140px;
    border-radius: 10px;
  }
  .skeleton-content {
    height: 1em;
  }
  .skeleton-title {
    width:55%;
  }
  .skeleton-artikel1 {
    width:80%;
  }
  .skeleton-artikel2 {
    width:90%;
  }
  .skeleton-author {
    width:90px;
  }
  .o-vertical-spacing > * + * {
    margin-top: 0.75em;
  }
  .o-vertical-spacing--l > * + * {
    margin-top: 2em;
  }
  @media screen and (max-width: 600px) {
    .o-vertical-spacing {
      padding-top: 0px;
    }
    .skeleton-content {
      height: 12px;
    }
    .skeleton-image {
      width: 97px;
      height: 87px;
    }
    .o-vertical-spacing > * + * {
      margin-top: 0px;
      line-height: 16px;
      margin-bottom: 5px;
    }
    .o-vertical-spacing--l > * + * {
      margin-top: 1em;
    }
  }
}

.skeleton-carousel {
  position: relative;
  .o-vertical-spacing {
    padding-top: 15px;
  }
  .skeleton-box {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #ebebeb;
  }
  .o-media {
    display: flex;
  }
  .skeleton-image {
    width: 100%;
    height: 420px;
    border-radius: 10px;
  }
  .skeleton-content {
    height: 1em;
    background-color: #dbdbdb;
  }
  .skeleton-title {
    width:55%;
  }
  .skeleton-artikel1 {
    width:80%;
  }
  .skeleton-artikel2 {
    width:90%;
  }
  .skeleton-author {
    width:90px;
  }
  .o-media__body {
    flex-grow: 1;
    margin-left: 1em;
    position: absolute;
    bottom: 25px;
    width: 100%;
  }
  .o-vertical-spacing > * + * {
    margin-top: 0.75em;
  }
  .o-vertical-spacing--l > * + * {
    margin-top: 2em;
  }
  @media screen and (max-width: 600px) {
    .skeleton-image {
      height: 190px;
    }
    .skeleton-content {
      height: 12px;
    }
    .o-vertical-spacing > * + * {
      margin: 0px;
    }
  }
}

.skeleton-activity {
  .skeleton-image {
    width: 69px;
    height: 65px;
    border-radius: 50%;
  }
  .o-vertical-spacing {
    padding-top: 3px;
  }
}

.skeleton-dashboard-menu {
  .menu-dashboard {
    .skeleton-menu {
      width: 55%;
      float: left;
      height: 16px;
    }
    .skeleton-icon-menu {
      width: 7%;
      float: left;
      height: 16px;
      margin-right: 15px;
    }
  }
  .skeleton-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .skeleton-artikel2 {
    width: 45%;
  }
  .o-vertical-spacing {
    padding-top: 17px;
  }
}

.skeleton-detail {
  .box-recomendation {
    a {
      ul {
        overflow: hidden;
        li {
          list-style: none;
          .o-media__figure {
            float: left;
            .skeleton-image {
              width: 70px;
              height: 70px;
              border-radius: 50%;
            }
          }
          .o-media__body {
            float: left;
            width: 80%;
            margin-top: 12px;;
            margin-left: 15px;
            .o-vertical-spacing {
              p {
                margin-bottom: 0px;
                .skeleton-artikel1 {
                  width: 33%;
                  height: 12px;
                }
                .skeleton-artikel2 {
                  width: 28%;
                  height: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
  .skeleton-box {
    display: inline-block;
    height: 1em;
    overflow: hidden;
    position: relative;
    background-color: #ebebeb;
  }
  .o-media__figure {
    .skeleton-image {
      width:100%;
      height:140px;
      border-radius: 10px;
    }
    .skeleton-infografis {
      height: 400px;
      @media screen and (max-width: 401px) {
        height: 200px;
        margin-bottom: 9px;
      }
    }
  }
  .skeleton-content {
    width: 90%;
    height: 15px;
  }
  .skeleton-content2 {
    width: 70%;
  }
  .skeleton-content3 {
    width: 50%;
  }
  .skeleton-content4 {
    width: 30%;
  }
}